annotated-types==0.7.0
anyio==4.9.0
asttokens==3.0.0
attrs==25.3.0
BTrees==6.1
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
Chameleon==4.6.0
charset-normalizer==3.4.1
colorama==0.4.6
comm==0.2.2
debugpy==1.8.13
decorator==5.2.1
dill==0.3.9
distro==1.9.0
executing==2.2.0
google-auth==2.38.0
google-auth-oauthlib==1.2.1
google-genai==1.9.0
greenlet==3.1.1
grok==5.1
grokcore.annotation==4.0
grokcore.catalog==4.0
grokcore.chameleon==4.1
grokcore.component==4.1.1
grokcore.content==4.1
grokcore.formlib==4.0
grokcore.layout==4.0
grokcore.message==4.0
grokcore.security==4.0
grokcore.site==4.0
grokcore.traverser==4.0
grokcore.view==4.0
grokcore.viewlet==4.0
groq==0.22.0
gspread==6.2.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.5
jedi==0.19.2
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
martian==2.1
matplotlib-inline==0.1.7
MouseInfo==0.1.3
multipart==1.2.1
nest-asyncio==1.6.0
numpy==2.2.4
oauthlib==3.2.2
outcome==1.3.0.post0
packaging==24.2
pandarallel==1.6.5
pandas==2.2.3
parso==0.8.4
persistent==6.1.1
pillow==11.2.0
platformdirs==4.3.7
playwright==1.51.0
prompt_toolkit==3.0.50
psutil==7.0.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pycparser==2.22
pydantic==2.11.1
pydantic_core==2.33.0
pyee==12.1.1
PyGetWindow==0.0.9
Pygments==2.19.1
PyMsgBox==1.0.9
PyMuPDF==1.25.5
pyperclip==1.9.0
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-gettext==5.0
pytweening==1.2.0
pytz==2025.2
pywin32==310
PyYAML==6.0.2
pyzmq==26.3.0
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
selenium==4.30.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
stack-data==0.6.3
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transaction==5.0
trio==0.29.0
trio-websocket==0.12.2
typing-inspection==0.4.0
typing_extensions==4.13.0
tzdata==2025.2
urllib3==2.3.0
validate_email==1.3
wcwidth==0.2.13
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==15.0.1
widgetsnbextension==4.0.13
wsproto==1.2.0
z3c.autoinclude==1.1
z3c.flashmessage==3.1
z3c.pt==4.5
zc.catalog==4.0
zc.lockfile==3.0.post1
ZConfig==4.2
zdaemon==5.1
ZODB==6.0
zodbpickle==4.2
zope.annotation==5.1
zope.app.appsetup==5.0
zope.app.publication==5.0
zope.app.wsgi==5.3
zope.authentication==5.1
zope.browser==3.1
zope.browserpage==5.0
zope.browserresource==5.2
zope.cachedescriptors==5.1
zope.catalog==5.0
zope.component==6.0
zope.configuration==6.0
zope.container==6.1
zope.contentprovider==6.0
zope.contenttype==5.2
zope.datetime==5.1
zope.deferredimport==5.0
zope.deprecation==5.1
zope.dottedname==6.0
zope.error==5.1
zope.errorview==2.0
zope.event==5.0
zope.exceptions==5.2
zope.filerepresentation==6.1
zope.formlib==6.1
zope.generations==5.1.0
zope.hookable==7.0
zope.i18n==5.2
zope.i18nmessageid==7.0
zope.index==7.0
zope.interface==7.2
zope.intid==5.1
zope.keyreference==6.1
zope.lifecycleevent==5.1
zope.location==5.1
zope.login==3.1
zope.minmax==2.3
zope.pagetemplate==5.1
zope.password==6.0
zope.principalregistry==5.1
zope.processlifetime==3.1
zope.proxy==6.1
zope.ptresource==5.1
zope.publisher==7.3
zope.schema==7.0.1
zope.security==7.3
zope.securitypolicy==5.1
zope.session==5.1
zope.site==5.1
zope.size==5.1
zope.tal==5.1
zope.tales==6.1
zope.testing==5.1
zope.traversing==5.1
zope.viewlet==5.1
